<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MIIS:sitetitle" value ="MIIS - Markdown IIS Handler"/>
    <!-- <add key="MIIS:UseMDCaching" value ="0"/> -->
    <!-- <add key="MIIS:UseEmoji" value="0" /> -->
    <add key="MIIS:allowDownloading" value="0"/>
    <add key="MIIS:TemplateName" value="material"/>
    <add key="MIIS:Layout" value="main.html"/>
    <add key="MIIS:toc" value="~/toc.md"/>
    <add key="MIIS:copyright" value="Jose M. Alarcon - 2017 - Powered by MIIS"/>
    <add key="MIIS:cssfile" value="~/CSS/github.css" />
    <add key="MIIS:primarycolor" value="indigo"/>
    <add key="MIIS:accent" value="red"/>
    <add key="MIIS:authortwitter" value="jm_alarcon"/>
    <add key="MIIS:authorgithub" value="jmalarcon/miis"/>
    <add key="MIIS:logo" value="Logo.png"/>
    <add key="MIIS:author" value="José M. Alarcón"/>
    <add key="MIIS:description" value="MIIS - An Open Source, Markdown based CMS for IIS. Your documentation site in less than 30 seconds."/>
    <add key="MIIS:prevtext" value="Previous"/>
    <add key="MIIS:nexttext" value="Next"/>
    <add key="MIIS:gaaccount" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="false">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name=".md extension" path="*.md" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdh HTML extension" path="*.mdh" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".markdown extension" path="*.markdown" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdown extension" path="*.mdown" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mkdn extension" path="*.mkdn" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mkd extension" path="*.mkd" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="index.md"/>
      </files>
    </defaultDocument>
    <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
            <mimeMap fileExtension=".markdown" mimeType="text/markdown" />
            <mimeMap fileExtension=".mdown" mimeType="text/markdown" />
            <mimeMap fileExtension="mkdn" mimeType="text/markdown" />
            <mimeMap fileExtension=".mkd" mimeType="text/markdown" />
            <!-- mimeMap fileExtension=".woff" mimeType="application/x-font-woff" / -->
     </staticContent>
      <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>